[submodule ".tmux"]
	path = .tmux
	url = git@github.com:barrettclark/.tmux.git
[submodule "zsh/myth-prompt-themes"]
	path = zsh/myth-prompt-themes
	url = git@github.com:barrettclark/myth-prompt-themes.git
